<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>정보 입력</title>
</head>
<body>
    <h1> 입력 </h1>
    <FORM action="/buy/insert" method="post">
        이름 : <input type="text" name="name" value="장영수"> <p></p>
        상품 : <input type="text" name="product" value="아이폰"> <p></p>
        <input type="submit" value="전송">
    </FORM>    
    <form action="/result" method="post">
        <input type="submit" value="결과">
    </form>
</body>
</html>
