<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <%= data[0].result1%> <p></p>
    <%= data[0].result2%><p></p>
    <%= data[0].result3%><p></p>
    <%= data[0].result4%>
</body>
</html>
