<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"> 
    <title>Document</title>
</head>
<body>
    <FORM action="/multiply/result" method="post">
        <INPUT TYPE="text" NAME="t1" VALUE=""> 
            X
        <INPUT TYPE="text" NAME="t2" VALUE=""> <p></p>
    <INPUT TYPE="submit" VALUE="출력">
</body>
</html>
