<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">    
    <title>Document</title>
</head>
<body>
    <FORM action="/math/math_result" method="post">
        <INPUT TYPE="text" NAME="t1" VALUE=""> 
            +
        <INPUT TYPE="text" NAME="t2" VALUE=""> 
        <p></p>
        <INPUT TYPE="text" NAME="t3" VALUE=""> 
            -
        <INPUT TYPE="text" NAME="t4" VALUE=""> 
        <p></p>
        <INPUT TYPE="text" NAME="t5" VALUE=""> 
            *
        <INPUT TYPE="text" NAME="t6" VALUE=""> 
        <p></p>
        <INPUT TYPE="text" NAME="t7" VALUE=""> 
            /
        <INPUT TYPE="text" NAME="t8" VALUE=""> 
        <p></p>
    <INPUT TYPE="submit" VALUE="출력">
</body>
</html>
